body{
    background-color: #D6E4E5;
}

hr{ 
    border-style: none;
    border-color: grey; 
    border-top-style: dotted;
    width: 5%;
    border-width: 5px;
}
h1{
    color: #3A8891;
}
h3{
    color: #3A8891;
}

p{
    font-family: Arial, Helvetica, sans-serif;
}